In [105]:
import pandas as pd
import glob
import numpy as np
import shutil

In [106]:
#test file path
train_file = "./dataset/train"
#input folder which needs to be segregated
input_path = "./dataset/test"

In [107]:
########TRAINING DATASET PREPARATION#############################

file_path = train_file
for files in glob.glob(file_path + "/*", recursive=True):

    print(files)

dataset = pd.DataFrame()
list_file = []
type_file = []
content_file = []

for f in glob.glob(file_path + "/*", recursive=True):

    for files in glob.glob(f + "/*" + "." + "txt", recursive=True):
        file = open(files, 'r')
        content = file.read()

        list_file.append(files)
        type_file.append(f.split('\\')[-1])
        content_file.append(content)

dataset['File Names'] = list_file
dataset['Category'] = type_file
dataset['Content'] = content_file
dataset['category_id'] = dataset['Category'].factorize()[0]

category_id_dataset = dataset[['Category', 'category_id']].drop_duplicates().sort_values('category_id')

dataset['Category'].value_counts()

./dataset/train/entertainment
./dataset/train/politics
./dataset/train/business
./dataset/train/sport
./dataset/train/tech

./dataset/train/tech             10
./dataset/train/entertainment    10
./dataset/train/business         10
./dataset/train/sport            10
./dataset/train/politics         10
Name: Category, dtype: int64

In [108]:
dataset

,File Names,Category,Content,category_id
0,./dataset/train/entertainment/021.txt,./dataset/train/entertainment,Obituary: Dame Alicia Markova\n\nDame Alicia M...,0
1,./dataset/train/entertainment/035.txt,./dataset/train/entertainment,Hundreds vie for best film Oscar\n\nA total of...,0
2,./dataset/train/entertainment/043.txt,./dataset/train/entertainment,Stars pay tribute to actor Davis\n\nHollywood ...,0
3,./dataset/train/entertainment/049.txt,./dataset/train/entertainment,De Niro film leads US box office\n\nFilm star ...,0
4,./dataset/train/entertainment/023.txt,./dataset/train/entertainment,Famed music director Viotti dies\n\nConductor ...,0
5,./dataset/train/entertainment/042.txt,./dataset/train/entertainment,Berlin honours S Korean director\n\nSouth Kore...,0
6,./dataset/train/entertainment/039.txt,./dataset/train/entertainment,Aviator 'creator' in Oscars snub\n\nThe man wh...,0
7,./dataset/train/entertainment/022.txt,./dataset/train/entertainment,Fears raised over ballet future\n\nFewer child...,0
8,./dataset/train/entertainment/048.txt,./dataset/train/entertainment,'Landmark movies' of 2004 hailed\n\nUS film pr...,0
9,./dataset/train/entertainment/050.txt,./dataset/train/entertainment,Willis sues over movie 'injury'\n\nActor Bruce...,0
10,./dataset/train/politics/101.txt,./dataset/train/politics,Council tax rise 'reasonable'\n\nWelsh council...,1
11,./dataset/train/politics/011.txt,./dataset/train/politics,Mrs Howard gets key election role\n\nMichael H...,1
12,./dataset/train/politics/007.txt,./dataset/train/politics,Fox attacks Blair's Tory 'lies'\n\nTony Blair ...,1
13,./dataset/train/politics/004.txt,./dataset/train/politics,Labour chooses Manchester\n\nThe Labour Party ...,1
14,./dataset/train/politics/010.txt,./dataset/train/politics,Crucial decision on super-casinos\n\nA decisio...,1
15,./dataset/train/politics/009.txt,./dataset/train/politics,Campbell: E-mail row 'silly fuss'\n\nEx-No 10 ...,1
16,./dataset/train/politics/008.txt,./dataset/train/politics,Women MPs reveal sexist taunts\n\nWomen MPs en...,1
17,./dataset/train/politics/006.txt,./dataset/train/politics,'Errors' doomed first Dome sale\n\nThe initial...,1
18,./dataset/train/politics/005.txt,./dataset/train/politics,Brown ally rejects Budget spree\n\nChancellor ...,1
19,./dataset/train/politics/210.txt,./dataset/train/politics,Thousands join strike in Wales\n\nThousands of...,1
20,./dataset/train/business/021.txt,./dataset/train/business,Rank 'set to sell off film unit'\n\nLeisure gr...,2
21,./dataset/train/business/004.txt,./dataset/train/business,High fuel prices hit BA's profits\n\nBritish A...,2
22,./dataset/train/business/023.txt,./dataset/train/business,Mixed signals from French economy\n\nThe Frenc...,2
23,./dataset/train/business/003.txt,./dataset/train/business,Yukos unit buyer faces loan claim\n\nThe owner...,2
24,./dataset/train/business/019.txt,./dataset/train/business,India widens access to telecoms\n\nIndia has r...,2
25,./dataset/train/business/008.txt,./dataset/train/business,"India calls for fair trade rules\n\nIndia, whi...",2
26,./dataset/train/business/006.txt,./dataset/train/business,Japan narrowly escapes recession\n\nJapan's ec...,2
27,./dataset/train/business/020.txt,./dataset/train/business,Call centre users 'lose patience'\n\nCustomers...,2
28,./dataset/train/business/002.txt,./dataset/train/business,Dollar gains on Greenspan speech\n\nThe dollar...,2
29,./dataset/train/business/025.txt,./dataset/train/business,Yukos loses US bankruptcy battle\n\nA judge ha...,2
30,./dataset/train/sport/279.txt,./dataset/train/sport,Newcastle line up Babayaro\n\nNewcastle manage...,3
31,./dataset/train/sport/267.txt,./dataset/train/sport,Robertson out to retain Euro lure\n\nHearts ma...,3
32,./dataset/train/sport/289.txt,./dataset/train/sport,Fuming Robinson blasts officials\n\nEngland co...,3
33,./dataset/train/sport/265.txt,./dataset/train/sport,Gronkjaer agrees switch to Madrid\n\nJesper Gr...,3
34,./dataset/train/sport/278.txt,./dataset/train/sport,Robben and Cole earn Chelsea win\n\nCheslea sa...,3
35,./dataset/train/sport/292.txt,./dataset/train/sport,Wales coach elated with win\n\nMike Ruddock pa...,3
36,./dataset/train/sport/263.txt,./dataset/train/sport,McLeish ready for criticism\n\nRangers manager...,3
37,./dataset/train/sport/266.txt,./dataset/train/sport,Benitez 'to launch Morientes bid'\n\nLiverpool...,3
38,./dataset/train/sport/264.txt,./dataset/train/sport,O'Leary agrees new Villa contract\n\nAston Vil...,3
39,./dataset/train/sport/262.txt,./dataset/train/sport,Spurs to sign Iceland U21 star\n\nTottenham ar...,3
40,./dataset/train/tech/391.txt,./dataset/train/tech,Peer-to-peer nets 'here to stay'\n\nPeer-to-pe...,4
41,./dataset/train/tech/395.txt,./dataset/train/tech,Cebit fever takes over Hanover\n\nThousands of...,4
42,./dataset/train/tech/388.txt,./dataset/train/tech,Camera phones are 'must-haves'\n\nFour times m...,4
43,./dataset/train/tech/394.txt,./dataset/train/tech,TV's future down the phone line\n\nInternet TV...,4
44,./dataset/train/tech/387.txt,./dataset/train/tech,Progress on new internet domains\n\nBy early 2...,4
45,./dataset/train/tech/393.txt,./dataset/train/tech,Savvy searchers fail to spot ads\n\nInternet s...,4
46,./dataset/train/tech/390.txt,./dataset/train/tech,Anti-spam laws bite spammer hard\n\nThe net's ...,4
47,./dataset/train/tech/396.txt,./dataset/train/tech,New consoles promise big problems\n\nMaking ga...,4
48,./dataset/train/tech/389.txt,./dataset/train/tech,Mobile multimedia slow to catch on\n\nThere is...,4
49,./dataset/train/tech/392.txt,./dataset/train/tech,Broadband fuels online expression\n\nFast web ...,4

In [109]:
#####################TF-IDF, FEATURE EXTRACTION AND LABEL######################

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df = 2, norm='l2', encoding='latin-1', 
                        ngram_range=(1, 3), stop_words='english')
features = tfidf.fit_transform(dataset.Content).toarray()
labels = dataset.category_id
features.shape

(50, 1543)

In [110]:
features

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.04325114, 0.        , 0.03961084, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [111]:
########################N-GRAMS################################################

from sklearn.feature_selection import chi2

category_to_id = dict(category_id_dataset.values)
id_to_category = dict(category_id_dataset[['category_id', 'Category']].values)
N = 5
for category, category_id in sorted(category_to_id.items()):
    features_chi2 = chi2(features, labels == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    trigrams = [v for v in feature_names if len(v.split(' ')) == 3]
    print("# '{}':".format(category))
    print("  . Most correlated unigrams:\n       . {}".format('\n       . '.join(unigrams[-N:])))
    print("  . Most correlated bigrams:\n       . {}".format('\n       . '.join(bigrams[-N:])))
    print("  . Most correlated trigrams:\n       . {}".format('\n       . '.join(trigrams[-N:])))

# './dataset/train/business':
  . Most correlated unigrams:
       . economy
       . friday
       . unit
       . yukos
       . growth
  . Most correlated bigrams:
       . economic growth
       . government hopes
       . year march
       . march 2005
       . g7 meeting
  . Most correlated trigrams:
       . oil giant yukos
       . forecast year march
       . year march 2005
       . major cost cutting
       . longer term view
# './dataset/train/entertainment':
  . Most correlated unigrams:
       . aviator
       . oscar
       . opera
       . ballet
       . film
  . Most correlated bigrams:
       . aviator million
       . box office
       . best film
       . dollar baby
       . million dollar
  . Most correlated trigrams:
       . director martin scorsese
       . dollar baby sideways
       . best film oscar
       . aviator million dollar
       . million dollar baby
# './dataset/train/politics':
  . Most correlated unigrams:
       . tory
       . public
       . election
       . party
       . labour
  . Most correlated bigrams:
       . tory chairman
       . prime minister
       . election campaign
       . mr blair
       . said good
  . Most correlated trigrams:
       . million dollar baby
       . chairman liam fox
       . tory chairman liam
       . chancellor gordon brown
       . said good deal
# './dataset/train/sport':
  . Most correlated unigrams:
       . uefa
       . cup
       . season
       . contract
       . chelsea
  . Most correlated bigrams:
       . transfer window
       . according reports
       . year old
       . ve got
       . uefa cup
  . Most correlated trigrams:
       . best film oscar
       . told bbc news
       . aviator million dollar
       . million dollar baby
       . told bbc radio
# './dataset/train/tech':
  . Most correlated unigrams:
       . broadband
       . phones
       . online
       . net
       . microsoft
  . Most correlated bigrams:
       . mobile phone
       . mobile phones
       . camera phones
       . anti spam
       . net users
  . Most correlated trigrams:
       . told bbc radio
       . best film oscar
       . pleaded guilty charges
       . aviator million dollar
       . million dollar baby

In [112]:
###########################Logistic Regression MODEL TRAINING######################################

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score

logistic_regression = LogisticRegression(random_state=1)

X_train, X_test, y_train, y_test, indices_train, indices_test = train_test_split(features, labels, 
                                                                                 dataset.index, 
                                                                                 test_size=2, 
                                                                                 random_state=1)
logistic_regression.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [113]:
#################################RANDOM FOREST CLASSIFIER TRAINING#############

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=1)

X_train, X_test, y_train, y_test, indices_train, indices_test = train_test_split(features, labels, 
                                                                                 dataset.index, 
                                                                                 test_size=2, 
                                                                                 random_state=1)
random_forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [114]:
###########################MULTIONOMIAL NAIVE BAYES MODEL TRAINING#############

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

multinomial_naive_bayes = MultinomialNB()

X_train, X_test, y_train, y_test, indices_train, indices_test = train_test_split(features, labels, 
                                                                                 dataset.index, 
                                                                                 test_size=2, 
                                                                                 random_state=7)
multinomial_naive_bayes.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [115]:
##############################TEST DATASET PREPARATION#########################

test_file = input_path

dataset_test = pd.DataFrame()
list_file_test = []
content_file_test = []

for files in glob.glob(test_file + "/*" + "." + "txt", recursive=True):
    file = open(files, 'r')
    content = file.read()

    list_file_test.append(files)
    content_file_test.append(content)

dataset_test['File Names'] = list_file_test
dataset_test['Content'] = content_file_test

In [116]:
dataset_test

,File Names,Content
0,./dataset/test/politics(2).txt,"Howard's unfinished business\n\n""He's not fini..."
1,./dataset/test/tech (8).txt,'Brainwave' cap controls computer\n\nA team of...
2,./dataset/test/tech (15).txt,What price for 'trusted PC security'?\n\nYou c...
3,./dataset/test/tech (16).txt,Text message record smashed again\n\nUK mobile...
4,./dataset/test/business(3).txt,Worldcom boss 'left books alone'\n\nFormer Wor...
5,./dataset/test/tech (6).txt,Looks and music to drive mobiles\n\nMobile pho...
6,./dataset/test/sport(1).txt,Newry to fight cup exit in courts\n\nNewry Cit...
7,./dataset/test/entertainment(1).txt,Rapper Snoop Dogg sued for 'rape'\n\nUS rapper...
8,./dataset/test/tech (12).txt,Apple makes blogs reveal sources\n\nApple has ...
9,./dataset/test/sport(8).txt,Hansen 'delays return until 2006'\n\nBritish t...
10,./dataset/test/tech (20).txt,Sun offers processing by the hour\n\nSun Micro...
11,./dataset/test/tech (11).txt,Rivals of the £400 Apple...\n\nThe Mac mini is...
12,./dataset/test/tech (17).txt,Commodore finds new lease of life\n\nThe once-...
13,./dataset/test/tech (5).txt,Warnings about junk mail deluge\n\nThe amount ...
14,./dataset/test/sport(3).txt,Jansen suffers a further setback\n\nBlackburn ...
15,./dataset/test/tech (10).txt,Fast lifts rise into record books\n\nTwo high-...
16,./dataset/test/politics(5).txt,Labour MP praises Tory campaign\n\nThe Conserv...
17,./dataset/test/tech (14).txt,Have hackers recruited your PC?\n\nMore than o...
18,./dataset/test/sport(5).txt,Preview: Ireland v England (Sun)\n\nLansdowne ...
19,./dataset/test/tech.txt,Moving mobile improves golf swing\n\nA mobile ...
20,./dataset/test/sport(4).txt,Old Firm pair handed suspensions\n\nCeltic's H...
21,./dataset/test/tech (2).txt,Mobile music challenges 'iPod age'\n\nNokia an...
22,./dataset/test/politics(1).txt,Sayeed to stand down as Tory MP\n\nTory MP Jon...
23,./dataset/test/tech (13).txt,Hitachi unveils 'fastest robot'\n\nJapanese el...
24,./dataset/test/politics(3).txt,'Last chance' warning for voters\n\nPeople in ...
25,./dataset/test/entertainment(2).txt,Elton plays Paris charity concert\n\nSir Elton...
26,./dataset/test/politics(6).txt,Lib Dems unveil election slogan\n\nThe Liberal...
27,./dataset/test/tech (1).txt,Tough rules for ringtone sellers\n\nFirms that...
28,./dataset/test/politics(4).txt,Sainsbury's Labour election gift\n\nScience Mi...
29,./dataset/test/business(1).txt,Home loan approvals rising again\n\nThe number...
30,./dataset/test/tech (3).txt,Beckham virus spotted on the net\n\nVirus writ...
31,./dataset/test/sport(2).txt,Souness delight at Euro progress\n\nBoss Graem...
32,./dataset/test/tech (9).txt,Britons growing 'digitally obese'\n\nGadget lo...
33,./dataset/test/sport(9).txt,Off-colour Gardener storms to win\n\nBritain's...
34,./dataset/test/sport(7).txt,Johnson uncertain about Euro bid\n\nJade Johns...
35,./dataset/test/sport(11).txt,Radcliffe yet to answer GB call\n\nPaula Radcl...
36,./dataset/test/sport(6).txt,Calder fears for Scottish rugby\n\nFormer Scot...
37,./dataset/test/tech (19).txt,Apple laptop is 'greatest gadget'\n\nThe Apple...
38,./dataset/test/business(2).txt,Manufacturing recovery 'slowing'\n\nUK manufac...
39,./dataset/test/tech (18).txt,T-Mobile bets on 'pocket office'\n\nT-Mobile h...
40,./dataset/test/tech (4).txt,US cyber security chief resigns\n\nThe man mak...
41,./dataset/test/sport(10).txt,Collins to compete in Birmingham\n\nWorld and ...
42,./dataset/test/entertainment(3).txt,Elvis set to top UK singles chart\n\nRock 'n' ...
43,./dataset/test/tech (7).txt,Robots learn 'robotiquette' rules\n\nRobots ar...
44,./dataset/test/entertainment(4).txt,Wal-Mart is sued over rude lyrics\n\nThe paren...
45,./dataset/test/entertainment(5).txt,Pete Doherty misses bail deadline\n\nSinger Pe...

In [117]:
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

test_features = tfidf.transform(dataset_test.Content).toarray()
model_pipe = [random_forest,logistic_regression,multinomial_naive_bayes]
for model in model_pipe:
    predictions = model.predict(test_features)
    
    prediction_list = []
    for predicted in (predictions):
        type_file = id_to_category[predicted]
        type_file = type_file.split('/')[-1]
        prediction_list.append(type_file)

    OriginalType = []
    for i in dataset_test['File Names']:
        file_name = i.split('/')[-1]
        file_type = file_name.split('(')[0]
        OriginalType.append(file_type)

    encoder = LabelEncoder()
    prediction_list = encoder.fit_transform(prediction_list)
    OriginalType = encoder.fit_transform(OriginalType)
    
    accuracy = accuracy_score(prediction_list, OriginalType)

    print("Accuracy is {} for {}".format(accuracy,model))

# dataset_test.to_excel("output_document_segmentation.xlsx")

Accuracy is 0.7391304347826086 for RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)
Accuracy is 0.8695652173913043 for LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Accuracy is 0.9565217391304348 for MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [118]:
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

test_features = tfidf.transform(dataset_test.Content).toarray()
predictions = multinomial_naive_bayes.predict(test_features)

prediction_list = []
for predicted in (predictions):
    type_file = id_to_category[predicted]
    type_file = type_file.split('/')[-1]
    prediction_list.append(type_file)

dataset_test['Type'] = prediction_list

OriginalType = []
for i in dataset_test['File Names']:
    file_name = i.split('/')[-1]
    file_type = file_name.split('(')[0]
    OriginalType.append(file_type)

dataset_test['OriginalType'] = OriginalType

In [119]:
import random
file_number = str(random.randint(1,100))
target_folder = "./sorted_files_" + file_number + "/"
required_folders = dataset_test['Type'].unique().tolist()
import os
for i in required_folders:
# define the name of the directory to be created
    path = target_folder + i
    try:
        os.makedirs(path)
    except OSError:
        print ("Creation of the directory %s failed" % path)
    else:
        print ("Successfully created the directory %s" % path)

for i in range(len(dataset_test)):
    print (i)
    source = dataset_test['File Names'][i]
    destination =  target_folder + "" + dataset_test['Type'][i] 
    shutil.copy(source, destination)

Successfully created the directory ./sorted_files_16/politics
Successfully created the directory ./sorted_files_16/tech
Successfully created the directory ./sorted_files_16/business
Successfully created the directory ./sorted_files_16/sport
Successfully created the directory ./sorted_files_16/entertainment
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45